* {
	margin: 0;
	padding: 0;
	
}
body {
	font-family: 'Cookie', cursive;
  font-size: 25px;
}

header {
	width: 100%;
}
header nav {
	width: 100%;
	max-width: 1200px;
	background: #343A40;
}


header nav ul {
    overflow: hidden;
    list-style: none;
    padding-left: 55%;
      }	 


header nav ul li {
	float: left;
}
header nav ul li a:hover {
	color: #767f87;
}

header nav ul li a{
	color: #fff;
	display: block;
	padding: 20px;
	text-decoration: none;

}
section {
	padding: 20px;
}

button {
	background-color: #2579B9;
	border-radius: 10%;
	border-color: transparent;
	color: #fff;
	font-size: 15px;
}
footer {
	background-color: #343A40;

}

footer p {
	color: #fff;
	padding: 20px;
	text-align: center;
  font-size: 70%;

}

img {
  width: 100%;
  height: 200px;
}
p {
  padding: 6%;

}

h1{
  font-size: 100px;
  text-align: center;
  color: #f4f4f7;
  padding-top: 7%;
}

h2 {
  padding-left: 6%;
}
h3 {
  padding-left: 6%;

}

button {
 margin-left: 6%;
}
hr {
  border-top: 1px solid #eae1e1 ;
}
.st-bo {
	color: #fff;
	float: left;
	padding: 20px;

}

#menu-bar {
	display: none;
}

.div-1 {
  
  background-image: url(../assets/images/bussines.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
  max-width: 1200px;

}
.div-3 {
    border: 2px #eae1e1 solid;
    border-radius: 1%;
    margin: 2%;

}

#container {
  width: 90%;
  max-width: 1200px;
  
  
}


.general-1 {
  display: grid;
  grid-template-columns: 75% 25%;
  

}

.general-2 {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  

}
@media screen and (max-width: 800px ) {
     
   header nav {
     	width: 80%;
     	height: 100%;
     	left: -100%;
     	margin: 0;
     	position: fixed;
   }
   header nav ul li {
   	    display: block;
   	    float: none;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
   }
   #menu-bar {
   	background: #ccc;
   	    display: block;
   	    width: 100%;
   }
   #menu-bar #bt-menu {
   	display: block;
   	padding: 20px;
   	background: #343A40;
   	color: #fff;
   	text-decoration: none;
   	font-weight: bold;
   	font-size: 25px;
   	box-sizing: border-box;
   }
   #menu-bar span {
   	float: right;
   	font-size: 30px;
   }
   .st-bo {
   	display: none;
   }
}

@media screen and (max-width: 800px ) {
  .general-1 {
    display: block;
    
  }
  .general-2{
    display: block;
  }

}
